/* #aside{} */

@media(max-width:776px) {
    #aside{
        display: none;
    }
}

#aside h1{
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 var(--gap);
}

#aside header{
    background: var(--white);
    padding: 15px 20px;
    margin: 0 0 var(--gap);
}

/* вкладки */
.tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs span{
    font-size: 14px;
    cursor: pointer;
}

.tabs span.active{
    color: var(--red);
    font-weight: bold;
}

.panes .pane{
    display: none;
}

.panes .pane.active{
    display: block;
}
/* вкладки */




.aside-post{
    background: var(--white);
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 118px 1fr;
    grid-gap: 17px;
    margin: var(--gap) 0 0;
}

.aside-post .aside-post-extra{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.aside-post .tag{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.aside-post h3{
    font-size: 13px;
}

.aside-post h3 a{
    font-family: 'Noto Sans', sans-serif;
    color: var(--red);
    text-decoration: none;
    transition: .5s;
}

.aside-post h3 a:hover{
    color: var(--black);
}

.aside-post p{
    font-size: 11px;
}

.aside-post time{
    font-size: 10px;
    color: var(--gray);
}

/* внутрішня */

.aside-post-hot{
    background: var(--white);
    margin: 0 0 var(--gap);
}

.aside-post-hot-image{
    overflow: hidden;
    display: block;
    margin: 0 0 10px;
}

@media(max-width:540px) {    
    .aside-post-hot-image{
        margin: 0 0 var(--gap);
    }
}

.aside-post-hot-image img{
    width: 100%!important;
    transform: scale(1);
    transition: .5s;
}

.aside-post-hot-image:hover img{
    transform: scale(1.05)
}

.aside-post-hot-extra{
    padding: 0 10px 10px;
}

.aside-post-hot-extra h3{
    font-size: var(--gap);
    font-weight: bold;
    margin: 10px;
    font-size: 16px
}

@media(max-width:540px) {    
    .aside-post-hot-extra h3{
        margin: 0 0 var(--gap);
    }
}

.aside-post-hot-extra h3 a{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: var(--red);
    transition: .5s;
}

.aside-post-hot-extra h3 a:hover{
    color: var(--black);
}

.aside-post-hot-extra p{
    margin: 10px
}

@media(max-width:540px) {    
    .aside-post-hot-extra p{
        margin: 0 0 var(--gap);
    }
}