
#main{
    overflow: hidden;
}

/* other */
#main-posts{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: var(--gap);
}

@media(max-width:996px) {
    #main-posts{    
        grid-template-columns: 1fr;
    }   
}

.main-post{
    /* position: relative; */
    background: var(--white)
}

.main-post-image{
    overflow: hidden;
    display: block;
    margin: 0 0 10px;
}

@media(max-width:540px) {    
    .main-post-image{
        margin: 0 0 var(--gap);
    }
}

.main-post-image img{
    width: 100%!important;
    transform: scale(1);
    transition: .5s;
}

.main-post-image:hover img{
    transform: scale(1.05)
}

.main-post-extra{
    padding: 0 var(--gap) var(--gap);
}

.main-post-extra h3{
    font-size: 18px;
    font-weight: bold;
    margin: var(--gap) 0
}

@media(max-width:540px) {    
    .main-post-extra h3{
        margin: 0 0 var(--gap);
    }
}

.main-post-extra h3 a{
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: var(--red);
    transition: .5s;
}

.main-post-extra h3 a:hover{
    color: var(--black);
}

.main-post-extra p{
    margin: var(--gap) 0;
}

@media(max-width:540px) {    
    .main-post-extra p{
        margin: 0 0 var(--gap);
    }
}

/* time and autor */
.service-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    font-size: 12px;
    /* margin: 0 var(--gap); */
}

@media(max-width:540px) {
    .service-data{
        margin: 0;
    }   
}

/* сірий блок з 3 новинами */
#insert-news{
    background: var(--gray-dark);
    padding: var(--gap);
    display: grid;
    grid-template-columns: 1fr 365px;
    grid-template-areas: 'insert-1 insert-2' 'insert-1 insert-3';
    grid-gap: var(--gap);
    height: 430px;
    margin: var(--gap) 0 0;
}

@media(max-width:776px) {
    #insert-news{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:540px) {
    #insert-news{
        grid-template-columns: 1fr;
        grid-template-areas: 'insert-1' 'insert-2' 'insert-3';
        height: auto;
    }   
}

#insert-news article{
    background-size: cover!important;
}

@media(max-width:540px) {
    #insert-news article{
        height: 220px;
    }
}

#insert-news article:nth-child(1){
    grid-area: insert-1;
}

#insert-news article:nth-child(2){
    grid-area: insert-2;
}

#insert-news article:nth-child(3){
    grid-area: insert-3;
}

#insert-news .caption{
    padding: var(--gap);
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: var(--black-opacity);
    color: var(--white);
    overflow: hidden;
    transition: .5s;
}

@media(max-width:540px) {
    #insert-news .caption{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        top: auto;
        bottom: 0;
        width: 100%;
        height: auto;
    }
}

#insert-news .caption h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: bold;
    line-height: 1.3;
}

@media(max-width:776px) {
    #insert-news .caption h3{
        font-size: 16px;
        line-height: 1.3!important;
    }   
}

#insert-news .caption p{
    font-size: 14px;
}

/* 1 великий блок зліва */
#insert-news article:first-child .caption h3{
    font-size: 36px;
    line-height: 1.1;
    margin: 0 0 var(--gap);
}

@media(max-width:776px) {
    #insert-news article:first-child .caption h3{
        font-size: 16px;
        margin: 0;
    }
}

#insert-news article:first-child .caption p{
    font-size: 28px;
    line-height: 1.1;
}

@media(max-width:776px) {    
    #insert-news .caption p{
        display: none!important;
    }
}

#insert-news a{
    color: var(--white);
    text-decoration: none;
}

#insert-news a:hover{
    text-decoration: underline;
}

#insert-news article:hover .caption{
    background: var(--gray)
}


/* спецпроекти */
#special-news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: var(--gap);
    padding: var(--gap) 0
}

@media(max-width:996px) {
    #special-news{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:540px) {
    #special-news{
        grid-template-columns: 1fr;
    }
}

#special-news article{
    height: 290px;
    background-size: cover!important;
}

#special-news .caption{
    padding: var(--gap);
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: var(--black-opacity);
    color: var(--white);
    overflow: hidden;
    transition: .5s;
}

#special-news article:hover .caption{
    background: var(--gray)
}

#special-news .caption h3{
    margin: 0 0 var(--gap);
    line-height: 1.3;
}

@media(max-width:540px) {
    #special-news .caption h3{
        margin: 0;
    }

    #special-news .caption p{
        display: none;
    }
}

#special-news a{
    color: var(--white);
    text-decoration: none;
}

#special-news a:hover{
    text-decoration: underline;
}


/* блок "про нас" */
#us{
    position: relative;
}

@media(max-width:540px) {
    #us{    
        height: 220px;
    }
    
    #us img{
        object-fit: cover;
        height: 100%;
    }
}
/* блок "про нас" */