
#page-main{
    padding: var(--gap);
    background: var(--white);
    overflow: hidden;
}

#page-main > h1{
    font-size: 36px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0 0 var(--gap);
    line-height: 1.3;
}

#page-main > h2,
#page-main > h3,
#page-main > h4,
#page-main > h5{
    font-family: 'Noto Sans', sans-serif;
    margin: 0 0 var(--gap);
}

#page-main .service-data{
    padding: 0;
    margin: 0 0 var(--gap)
}

#page-main figure{
    margin: 0 0 var(--gap)
}

#page-main figcaption{
    font-size: 14px;
    font-style: italic;
    color: var(--gray);
    padding: 10px 0;
}

#page-main p{
    margin: 0 0 var(--gap)
}

#page-main ul,
#page-main ol{
    margin: 10px 0 10px 40px;
}

#page-main li{
    margin: 5px 0;
}

/* 29-12-2021 */
/* //////////////////////////
// важливий виділений блок //
////////////////////////// */
#page-main .important
{
    margin: 10px 0;
    padding: 20px 10px;
    border-top: 3px solid var(--gray);
    border-bottom: 3px solid var(--gray);
    text-align: center;
}