*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --wrapper: #f3f3f3;

    --gray-ultralight: #e5e5e5;
    --gray-light: #c4c4c4;
    --gray: #636363; 
    --gray-dark: #333;
    /* --gray-dark-opacity: rgb(51 51 51 / 75); */

    --black: #000;
    --black-opacity: rgba(0,0,0, .5);
    --red: #eb0000;

    --white: #fff;
    /**/
    --gap: 20px;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: var(--black);
    background: var(--gray-ultralight);
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Noto Serif', serif;
    line-height: 1;
}

a{
    color: var(--red);
    text-decoration: underline;
}

a:hover,
a:focus{
    text-decoration: none;
}

#wrapper{
    width: 1200px;
    margin: 20px auto;
    background: var(--wrapper);
}

@media(max-width: 1240px) {
    #wrapper{
        width: 95%;
    }
}

img{
    max-width: 100%!important;
    vertical-align: middle;
}

article{
    position: relative;
}

.marker{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--red);
    color: var(--white);
    text-decoration: none;
    padding: 5px 10px;
    z-index: 2;
    font-size: 14px;
}

.marker a{
    color: var(--white);
    text-decoration: none;
}

time,
.autor{
    font-size: 12px;
    color: var(--gray);
}

time::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23636363'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3Cpath d='M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z'/%3E%3C/svg%3E");
    position: relative;
    top: 2px;
}

.autor::before{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23636363' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/%3E%3C/svg%3E");
    position: relative;
    top: 2px;
}

.all{
    display: flex;
    justify-content: center;
    margin: var(--gap) 0;
    background: var(--gray-ultralight);
    text-decoration: none;
    transition: .5s;
}

.all span{
    padding: 5px;
    background: var(--gray-light);
    color: var(--black);
    display: block;
    transition: .5s;
}

.all:hover{
    background: var(--gray-light);
}

.all:hover span{
    background: var(--gray);
    color: var(--white);
}

#heading{
    text-align: center;
    margin: var(--gap);
}

#heading h1{
    margin-bottom: 40px
}

#content{
    display: grid;
    grid-template-columns: 390px 1fr;
    grid-gap: var(--gap);
    min-height: 600px;
}

@media(max-width:776px) {
    #content{
        grid-template-columns: 1fr;
    }
}

/* inner page */
#page{
    display: grid;
    grid-template-columns: 1fr 390px;
    grid-gap: var(--gap);
}

@media(max-width:996px) {
    #page{        
        grid-template-columns: 1fr;
    }    
/*     #page aside{
        display: none;
    } */
}

.social{
    margin: var(--gap) 0;
}

.share-facebook svg,
.share-twitter svg,
.share-linkedin svg,
.share-telegram svg,
.share-viber svg{
    transition: .5s;
    transform: translateY(0);
    width: 32px;
    height: 32px;
    fill: var(--red);
}

.share-facebook:hover svg,
.share-twitter:hover svg,
.share-linkedin:hover svg,
.share-telegram:hover svg,
.share-viber:hover svg{
    transform: translateY(-5px);
}

hr{
    margin: var(--gap) 0;
    border-top: 1px solid var(--gray);
}